extends layout
block content
	div(ng-controller="userController" class="container-fluid")
		div(style="background-color: #6699ff;height:100px;padding-top:10px;")
			div(class="col-md-10" style="color: white !important;text-decoration: none;font-size:30px;padding-top:10px;")
				span Project Management Portal
			div(class="col-md-2")
				div(style="float:right ; padding-right:20px;padding-top:50px; color:black;")
					input(type="hidden" value=data)#userdata
					span(style="color:#fff;font-size:20px;font-family:cursive;font-weight:bold;") Hi,
					span(style="color:black;font-size:18px;font-family:cursive;padding-right:15px;")= id 
					a(class="log btn btn-primary" ng-click="LogOut()") Logout
		div(class="row")
			div(class="sideNav col-sm-3")
				a(href="/users#/Profile"  class="sideNavAnchor")
					div(id="Profile" class="sideNavOptions myactive") My Profile
				a(href="/users#/SeeAvailability"  class="sideNavAnchor")
					div(id="SeeAvailability" class="sideNavOptions") See Availability
				a(href="/users#/RaiseRequirement"  class="sideNavAnchor")
					div(id="RaiseRequirement"  class="sideNavOptions") Raise Requirement
			div(class="col-sm-9" ng-view)
		div(class="myFooter")
			span(style="float:left")
				span(class="glyphicon glyphicon-envelope")
					a(href="mailto:ResourceTraker@mindtree.com?") Email|
				span(class="glyphicon glyphicon-phone") 999999
			span(style="float:right")
				p OCT 2015 Batch		