     <div class="rightBody" ng-controller="nmpuserController" >
<div class="col-sm-8 col-sm-offset-2"> 
	<div class="form-group" style="height:35px;">
	            <label class="col-sm-4 control-label">Upload Resume</label>
	            <div class="col-sm-6 control-label">
	                 <input type="file" id="exampleInputFile" ngf-select ng-model="file"/>
		        </div>
	</div> 
	<div class="form-group">
	<span>{{fileUploadError}}<span>
	</div>
	<div class="form-group">
		<button type="submit" class="col-md-offset-7 btn btn-primary"  ng-click="submit()">Upload</button>
	</div>
</div>
	
 
</div>     